@import "tailwindcss";

@font-face {
  font-family: "pro";
  src: url("./assets/source-sans-pro/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: 700; /* bold */
  font-style: normal;
}

.i {
  padding: 0 5px;
  user-select: none;
  transition: 1s;
}

.i:hover {
  transition: 0s;
  color: #0f0;
  text-shadow: 0 0 120px #0f0;
}
